<div>
  <header>
    <div class="content-wrapper">
      <div class="float-left">
        <p class="site-title"><img src="~/Images/companyLogo.png" alt="Signature Closers" class="company-logo" /></p>
      </div>
      <div class="float-right">
        <nav id="navbar" class="navbar">
          <ul id="menu">
            <li id="Home"><a href="~/" id="HomeLink">Home</a></li>
            <li id="About"><a href="~/About" id="AboutLink">About</a></li>
            <li id="Contact"><a href="~/Contact" id="ContactLink">Contact</a></li>
            <li id="Register"><a href="~/Account/Register" id="RegisterLink">Register</a></li>
            <li id="Login"><a href="~/Account/Login" id="LoginLink">Log in</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>